<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Welcome to the Dashboard</h1>
        <p>Hello, {{ request.user.username }}!</p>
        <p>Your Projects:</p>
        <ul>
            {% for project in projects %}<li>{{ project.name }}</li>{% endfor %}
        </ul>
    </body>
</html>
